.spinning-disk {
    width: 60px;
    height: 60px;
    border: 7px solid rgba(89, 93, 90, 0.6);
    /* light ring */
    border-top: 7px solid #1db954;
    /* colored top */
    border-radius: 50%;
    animation: spin 1.1s linear infinite;
    margin:10px;
    /* centers the disk horizontally */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}