.top-shadow {
    position: fixed;
    width: 100vw;
    height: 0px;
    z-index: -1;
  }
  
  .top-shadow::before {
    content: '';
    position: fixed;
    inset: 0;
    height: 250px;
    width: 100%;
    background: linear-gradient(270deg, #d6075d, #e15068, #f28766,#f3d298,#79a6f3, #5f24e8, #5e07f6, #8c14a7);
    background-size: 500% 500%;
    animation: gradientFlow 12s ease infinite;
    opacity: 1;
    filter: blur(100px);
    pointer-events: none;
  }
  
  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  