.topShadow {
    width: 100vw;
    height: 0px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 200px 150px rgb(174,0,255);
    animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 160px 110px rgb(174,0,255);
    }

    50% {
        box-shadow: 0 0 200px 150px rgb(174,0,255);
    }

    100% {
        box-shadow: 0 0 160px 110px rgb(174,0,255);
    }
}

.topShadow.dark {
    width: 100vw;
    height: 0px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 200px 150px #a955f7ea;
    animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 160px 110px #a955f7ea;
    }

    50% {
        box-shadow: 0 0 200px 150px #a955f7ea;
    }

    100% {
        box-shadow: 0 0 160px 110px #a955f7ea;
    }
}

.spinning-disk {
    width: 80px;
    height: 80px;
    border: 8px solid rgba(89, 93, 90, 0.6);
    /* light ring */
    border-top: 8px solid #1db954;
    /* colored top */
    border-radius: 50%;
    animation: spin 1.1s linear infinite;
    margin:20px;
    /* centers the disk horizontally */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}